/* custom scss styles */

/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: rgb(218, 128, 44);

// Code blocks
$code-color: #46bdbd;
$code-block-bg-alpha: -.6;

// Code blocks
.sourceCode.numberSource {
    background-color: #072227 !important;
}